{% extends "base.html" %}

{% block title %}subject_change_list.html{% endblock %}

{% block content %}

    <h1>Subject Change - {{user}}</h1>

    <table class="table table-striped table-bordered table-condensed">

        <thead>
        <tr class="table-success">
            <th>Subj</th>
            <th>Prof</th>
            <th>Owner</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        {% for item in object_list %}
        <tr>
            <td>{{ item.subj }}</td>
            <td>{{ item.prof }}</td>
            <td>{{ item.owner }}</td>
            <td><a href="{% url 'sugang:subject_update' item.id %}">Update</a></td>
            <td><a href="{% url 'sugang:subject_delete' item.id %}">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
        
    </table>
{% endblock %}